.roze {
    background-color: pink;
    width: 100px;
}


span {
    display: inline-block;
    width: 50px;
    padding: 15px 0;
    text-align: center;
    border: 1px solid black;
}

.black {
    background-color: black;
    color: white;  

}

.white {
    background-color: white;
    color: black;
}