h2 {
    text-align: center;
    color: darkgoldenrod;
}

body {
    background-color: black;
}

img {
    width: 500px;
    height: 300px;
    border-style: double;
    border-color: white;
    border-width: 10px;
}

.paragraf1 {
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: orange
}

a {
    color: red;
}

a:hover {
    color:green
}