* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.row {
    width: 100%;
    overflow: hidden;
   
}

/*  Za mobilini */

@media only screen and (max-width:500px) {
    [class*="col-"] {
        width: 100%;
    }

}

/*  Za tablet */

@media only screen and (min-width:501px) and (max-width:999px) {

    [class*="col-t-"] {
        float: left;
    }

    .col-t-1 {
        width: 8.33%;
    }
    .col-t-2 {
        width: 16.66%;
    }
    .col-t-3 {
        width: 25%;
    }
    .col-t-4 {
        width: 33.33%;
    }
    .col-t-5 {
        width: 41.66%;
    }
    .col-t-6 {
        width: 50%;
    }
    .col-t-7 {
        width: 58.33%;
    }
    .col-t-8 {
        width: 66.66%;
    }
    .col-t-9 {
        width: 75%;
    }
    .col-t-10 {
        width: 83.33%;
    }
    .col-t-11 {
        width: 91.66%;
    }
    .col-t-12 {
        width: 100%;
    }

    .height {
        height: 100vh;
    }

    .naslov {
        font-size: 20px;
    }
}


/* Za desktop */

@media only screen and (min-width: 1000px) {
    [class*="col-"] {
        float: left;
    }

    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }

    .strana {
        height: 100%;
    }

    .naslov {
        font-size: 50px;
    }
}

h2 {
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    color: purple;
    font-size: 30px;
    padding: 20px 0 20px 0;
}

input {
    border: 0.5px solid silver;
    border-radius: 3px;
}

.forma {
    border: 0.5px solid silver;
    padding: 30px;
    border-radius: 10px;
    margin: 30px;
}

div p, div div {
    padding: 5px;
}

#izracunaj, #reset {
    background-color: purple;
    color: white;
    padding: 15px 30px 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.strana {
    background-image: url(slike/cvece.jpg);
    object-fit: cover;
}

.naslov {
    margin-top: 40%;
    text-align: center;
    color: white;
    background-blend-mode: 0.5;
    padding: 20px;
}

.strana {
    height: 100vh;
}