* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    
}



th, td {
    border: 1px solid silver;
    padding-right: 40px;
    padding-left: 10px;
    text-align: left;
}

.prva  tr:nth-child(3) {
    background-color: yellow;
}

.druga  tr > *:nth-child(3){
    background-color: yellow;
}